@use "../../styles/variables" as v;

.card {
  padding: 1.5rem;
  border-radius: 20px;
  background: v.$color-bg-dark; // mismo fondo que usas en modal
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;

  // que siempre ocupe todo el ancho disponible
  width: 100%;
  min-width: 1000px; // 👈 mínimo razonable para que no colapse
  box-sizing: border-box;

  // neumorphism shadows
  box-shadow:
    8px 8px 16px rgba(0, 0, 0, 0.65),
    -8px -8px 16px rgba(255, 255, 255, 0.05);

  // transición sutil en hover
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow:
      10px 10px 20px rgba(0, 0, 0, 0.7),
      -10px -10px 20px rgba(255, 255, 255, 0.04);
  }
}